{% load blog_tags %}

<div class="card mb-4">
    <div class="card-header">Recent Posts</div>
    <!-- card-body -->
    <div class="">
        <!-- <h4 class="text-info">Most Commented Post</h4> -->
        {% if latest_posts %}
        {% for post in latest_posts %}
        <a class="list-group-item list-group-item-action" href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        {% endfor %}
        {% else %}
        <p>
            No Similar Post Yet
        </p>
        {% endif %}

    </div>
</div>