{% extends "base.html" %}
{% load blog_tags %}
{% block head_title %} Luk-Blog | Post-List {% endblock head_title %}
{% block content %}





<!-- 
<header class="xl v-center bg-img jarallax" data-jarallax data-speed="0.8"
    style="background-image: url(assets/images/ph-bg4.jpg);">
    <div class="container text-center">
        <h1 class="page-title text-white mb-0">BLOG</h1>
    </div>
</header> -->

<div class="main-container p-0">

    <section id="blog" class="lg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 tablet-lg-top-45 page-content">
                    <div class="row">
                        {% for post in post_list %}
                        <div class="col-md-6 mb-30">
                            <div class="hover-card">
                                <div class="card mb-0">
                                    {% if post.image %}
                                    <a href="{{ post.get_absolute_url }}">
                                        <img class="card-img-top" src="{{ post.image.url }}" alt="">

                                    </a>
                                    {% endif %}
                                    <div class="card-body text-left">
                                        <a href="{{ post.get_absolute_url }}">
                                            <h4 class="card-title fs-24 mb-10">{{ post.title }}</h4>
                                        </a>
                                        <p class="post-meta text-xs mb-10">
                                            <i class="fas fa-tag fs-12 va-middle mr-5"></i>
                                            {% for tag in post.tags.all %}
                                            <a href="{% url "post:post_list_by_tag" tag.slug %}">
                                                <span class="va-middle mr-15">{{ tag.name }}</span>

                                            </a>
                                            {% if not forloop.last %}, {% endif %}
                                            {% endfor %}
                                            <i class="fas fa-calendar fs-12 va-middle mr-5"></i>
                                            <span class="va-middle">{{ post.created|date:"N j Y" }}</span>
                                        </p>
                                        <p class="fs-14 mb-20">
                                            {{ post.body|truncatewords:20 | safe }}
                                        </p>
                                        <a href="{{ post.get_absolute_url }}" class="btn btn-sm btn-primary">Read
                                            More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>

                    {% include "paginator/paginator.html" %}
                </div><!-- / page-content -->

                <div class="col-lg-4 sidebar">
                    <div class="widget mt-0">
                        <div class="input-group input-w-overlap-btn mb-0">
                            {% include "search/search_bar.html" %}

                        </div>
                    </div>

                    <div class="widget">
                        <h6 class="widget-title">Categories</h6>
                        <div class="row">
                            <div class="col-6">
                                <ul
                                    class="list-unstyled list-icon list-arrow list-primary list-has-link menu-list mb-0 tablet-lg-top">
                                    <li class="mb-10"><a href="#x">Design</a></li>
                                    <li class="mb-10"><a href="#x">Illustration</a></li>
                                    <li class="mb-10"><a href="#x">Branding</a></li>
                                    <li class="mb-0"><a href="#x">Web Design</a></li>
                                </ul><!-- / list-unstyled -->
                            </div><!-- / column -->

                            <!-- <div class="col-6">
                                <ul
                                    class="list-unstyled list-icon list-arrow list-primary list-has-link menu-list mb-0">
                                    <li class="mb-10"><a href="#x">Travel</a></li>
                                    <li class="mb-10"><a href="#x">Food</a></li>
                                    <li class="mb-10"><a href="#x">Health</a></li>
                                    <li class="mb-0"><a href="#x">Sport</a></li>
                                </ul>
                            </div> -->
                        </div><!-- / row -->
                    </div><!-- / widget -->

                    <div class="widget">
                        <h6 class="widget-title">Newsletter</h6>
                        <p class="mb-20">Quisque aliquet lorem nec dui posuere des et, scelerisque ultrices metus
                            aliquam.</p>
                        <div class="input-group input-w-overlap-btn">
                            <input type="text" class="form-control rounded" placeholder="Email">
                            <span class="input-group-btn">
                                <button class="btn btn-sm btn-primary lh-0 overlapping-btn big-btn rounded"
                                    type="button"><i class="fas fa-paper-plane mr-5"></i> Subscribe</button>
                            </span><!-- / input-group-btn -->
                        </div><!-- / input-group -->
                    </div><!-- / widget -->

                    {% include 'side_bar/tags.html' %}
                </div><!-- / sidebar -->
            </div><!-- / row -->
        </div><!-- / container -->
    </section><!-- / blog -->
</div><!-- main-container -->




{% endblock %}