{% extends 'base.html' %}

{% block head_title %}{{ post.title }}{% endblock %}

{% load blog_tags %}

{% block content %}



<!-- <header class="xl v-center bg-img jarallax" data-jarallax data-speed="0.8"
    style="background-image: url(assets/images/ph-bg4.jpg);">
    <div class="container text-center">
        <h1 class="page-title text-white mb-0">BEST DESIGNS</h1>
    </div>
</header> -->

<div class="main-container p-0">

    <section id="blog" class="lg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 tablet-lg-top-45 page-content">
                    <div class="blog-post mb-50">
                        <div class="page-content">
                            {% if post.image %}
                            <img src="{{ post.image.url }}" alt="" class="rounded mb-25">
                            {% endif %}

                            <h4 class="fs-24 mb-10">{{ post.title }}</h4>
                            <p class="post-meta text-xs mb-10">
                                <i class="fas fa-tag fs-12 va-middle mr-5"></i>
                                {% if post.tags.all %}
                                {% for tag in post.tags.all %}
                                <a href="{% url "post:post_list_by_tag" tag.slug %}">
                                    <span class="va-middle mr-15">{{ tag.name }}</span>
                                </a>
                                {% endfor %}
                                {% endif %}
                                <i class="fas fa-calendar fs-12 va-middle mr-5"></i>
                                <span class="va-middle">{{ post.created|date:"N j Y" }}</span>
                            </p><!-- / post-meta -->
                            <p>
                                {{ post.body | safe }}
                            </p>

                        </div><!-- / post-content -->
                    </div><!-- / blog-post -->

                    <div class="comments">
                        <!-- <h5 class="mb-50">COMMENTS</h5> -->


                        <div class="spacer-2x">&nbsp;</div>

                        <!-- comment form -->
                        <div id="comment-form">
                            <h6 class="mb-15">LEAVE A COMMENT</h6>
                            <div id="disqus_thread"></div>
                            <script>
                                /**
                                 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                                 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */

                                var disqus_config = function () {
                                    this.page.url =
                                        // "http://localhost:8000/post{{post.url}}"; // Replace PAGE_URL with your page's canonical URL variable
                                        '{{ request.build_absolute_uri }}'; // Replace PAGE_URL with your page's canonical URL variable
                                    this.page.identifier =
                                        "{{ request.build_absolute_uri }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                                };

                                (function () { // DON'T EDIT BELOW THIS LINE
                                    var d = document,
                                        s = d.createElement('script');
                                    s.src = 'https://blog-my.disqus.com/embed.js';
                                    s.setAttribute('data-timestamp', +new Date());
                                    (d.head || d.body).appendChild(s);
                                })();
                            </script>
                            <noscript>Please enable JavaScript to view the <a
                                    href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

                        </div><!-- / comment-form -->
                    </div><!-- / comments -->
                </div><!-- / page-content -->

                <div class="col-lg-4 sidebar">
                    <div class="widget mt-0">
                        <div class="input-group input-w-overlap-btn mb-0">
                            {% include "search/search_bar.html" %}

                        </div><!-- / input-group -->
                    </div><!-- / widget -->

                    <div class="widget">
                        <h6 class="widget-title">Related</h6>
                        <div class="row">
                            <div class="col-6">
                                <ul class="list-unstyled list-icon list-arrow list-primary list-has-link menu-list">
                                    <!-- class="list-unstyled list-icon list-arrow list-primary list-has-link menu-list mb-0 tablet-lg-top"> -->
                                    {% for post in similar_posts %}
                                    <li class="mb-10">
                                        <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                                    </li>
                                    {% endfor %}
                                    <!-- <li class="mb-10"><a href="#x">Illustration</a></li>
                                    <li class="mb-10"><a href="#x">Branding</a></li>
                                    <li class="mb-0"><a href="#x">Web Design</a></li> -->
                                </ul><!-- / list-unstyled -->
                            </div><!-- / column -->

                            <!-- <div class="col-6">
                                <ul
                                    class="list-unstyled list-icon list-arrow list-primary list-has-link menu-list mb-0">
                                    <li class="mb-10"><a href="#x">Travel</a></li>
                                    <li class="mb-10"><a href="#x">Food</a></li>
                                    <li class="mb-10"><a href="#x">Health</a></li>
                                    <li class="mb-0"><a href="#x">Sport</a></li>
                                </ul>
                            </div> -->
                        </div><!-- / row -->
                    </div><!-- / widget -->
                    {% include "post/latest_post.html" %}

                    <div class="widget">
                        <h6 class="widget-title">Newsletter</h6>
                        <p class="mb-20">Quisque aliquet lorem nec dui posuere des et, scelerisque ultrices metus
                            aliquam.</p>
                        <div class="input-group input-w-overlap-btn">
                            <input type="text" class="form-control rounded" placeholder="Email">
                            <span class="input-group-btn">
                                <button class="btn btn-sm btn-primary lh-0 overlapping-btn big-btn rounded"
                                    type="button"><i class="fas fa-paper-plane mr-5"></i> Subscribe</button>
                            </span><!-- / input-group-btn -->
                        </div><!-- / input-group -->
                    </div><!-- / widget -->

                    <div class="widget">
                        <h6 class="widget-title">Tags</h6>
                        <div class="tag-cloud">
                            <a href="#x" class="btn btn-xs btn-primary m-5 rounded">#design</a>
                            <a href="#x" class="btn btn-xs btn-primary m-5 rounded">#web</a>
                            <a href="#x" class="btn btn-xs btn-primary m-5 rounded">#brand</a>
                            <a href="#x" class="btn btn-xs btn-primary m-5 rounded">#illustrations</a>
                            <a href="#x" class="btn btn-xs btn-primary m-5 rounded">#photography</a>
                        </div><!-- / tag-cloud -->
                    </div><!-- / widget -->
                </div><!-- / sidebar -->
            </div><!-- / row -->
        </div><!-- / container -->
    </section><!-- / blog -->
</div><!-- main-container -->





{% endblock %}